<div
  data-bs-spy="scroll"
  data-bs-root-margin="0px 0px -40%"
  data-bs-smooth-scroll="true"
  class="scrollspy-example bg-body-tertiary p-3 rounded-2"
  tabindex="0"
>
  <div *ngIf="loading" class="text-center mt-4">
    <p>{{'orders.loading'|translate}}</p>
  </div>

  <div *ngIf="error" class="alert alert-danger mt-4">
    {{ error }}
  </div>

  <div *ngIf="orders && orders.length > 0" class="scroll-container mt-4">
    <div *ngFor="let order of orders" class="card order-card">
      <div class="card-header">
        <h5>{{ 'orders.order id' | translate }} {{ order.id }}</h5>
        <p>{{'orders.date'|translate}} {{ order.orderDate | date: 'short' }}</p>
      </div>
      <div class="card-body">
        <p><strong>{{'orders.total price'|translate}}</strong> {{ getFormattedPrice(order.totalPrice) }}</p>
        <p><strong>{{'orders.myStatus'|translate}}</strong> {{ getStatus(order.currentStatus) }}</p>
        <h6>{{'orders.items'|translate}}</h6>
        <ul class="list-group">
          <li *ngFor="let item of order.orderItems" class="list-group-item">
            <strong>{{ item.productName }}</strong> - {{'orders.quantity'|translate}} {{ item.quantity }}, {{'orders.price'|translate}} {{ getFormattedPrice(item.price) }}
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div *ngIf="orders && orders.length === 0" class="text-center mt-4">
    <p>{{'orders.no orders'|translate}}</p>
  </div>
</div>
