/* General Reset */
* {
    box-sizing: border-box;
}

/* Container with Shadow */
.page-container {
    display: flex;
    height: 100vh;
    font-family: Arial, sans-serif;
    max-width: 1200px;
    margin: auto;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
    overflow: hidden;
}

/* Sidebar Styling */
.sidebar {
  width: 350px;
  height: 100%;
  background-color: #f8f9fa;
  padding: 5px;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  overflow: hidden;
}

.sidebar h2 {
    color: #0e001a;
}

.sidebar ul {
    list-style: none;
    padding: 10px;
    margin: 0;
}

.sidebar a {
    text-decoration: none;
    color: #0e001a;
    font-weight: bold;
    display: block;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.sidebar a:hover {
    background-color: #cdcdcd;
}

.sidebar button {
    background-color: transparent;
    color: #0e001a;
    font-weight: bold;
    border: 2px solid #0e001a;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    width: 100%;
    text-align: left;
}

.sidebar button:hover {
    background-color: #0e001a;
    color: #ffffff;
}

.sidebar-details h3 {
    margin-top: 20px;
}

.app-links img {
    width: 100%;
    max-width: 120px;
    height: auto;
    margin: 10px 0;
}

/* Main Content Styling */
.main-content {
    flex: 1;
    padding: 20px;
    background-color: #ffffff;
}

/* Welcome Message Styling */
.welcome-message h1 {
    font-size: 2.5em;
    color: #0e001a;
    font-weight: 600;
    letter-spacing: 0.5px;
    margin-bottom: 20px;
    text-align: center;
    text-transform: capitalize;
    line-height: 1.2;
    padding: 10px 20px;
    border-radius: 8px;
    background-color: #f1f1f1;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}


.orders-section {
    margin-top: 20px;
}

/* Responsive Design */
@media (max-width: 768px) {
    /* Stack Sidebar and Main Content on Top of Each Other */
    .page-container {
        flex-direction: column;
    }

    /* Sidebar Adjustments for Small Screens */
    .sidebar {
        width: 100%;
        height: auto;
        box-shadow: none;
        padding: 10px;
        order: 1; /* Place below main content if needed */
    }

    /* Main Content Adjustments */
    .main-content {
        margin-left: 0;
        width: 100%;
        order: 2;
    }

    .app-links img {
        max-width: 100px;
    }
}

@media (max-width: 576px) {
    /* Extra Small Screen Adjustments */
    .app-links img {
        max-width: 80px;
    }
}
